
/* finalizaçao */
.finaly {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #061513;
    
}

/* rodapé */
.footer-data{
    position: relative;
    display: flex;
    height: 30vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, #061513 35%, #030505 100%);
    padding-top: 5%;
}

.footer-data img {
    height: 30%;
}

.footer-data div {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza verticalmente os <p> dentro do div */
    gap: 0.5rem; /* espaço entre os <p> */
    color: #cdcdcd;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.dev {
    color: #cdcdcd9a !important;
}

a {
    color: #30423a
}

@media (max-width: 2560px) {
    /* .footer-data {
        padding-top: 5%;
    } */

    .footer-data img {
        height: 50%;
    }
}



/* mobile pequeno */
@media (max-width: 480px) {
     
  .finaly {
    height: 100vh;
  }

  .finaly img {
    width: 350px;
    height: 350px;
  }

  .footer-data {
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-data div {
    padding-top: 25px;
    flex-direction: row;
    font-size: 12px;
  }
 }

 @media(max-width: 425px) {
    .footer-data img {
        height: 18%;
    }

 }


 /* mini devices (iphone antigo) */
@media (max-width: 390px) {

  .finaly {
    width: '100%';
  }
 }

 