* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

body {
    line-height: 1.8;
    scroll-behavior: smooth;
}


/* estilizacao home */
.home {
    position: relative;
    width: 100%;
    height: 100vh;          
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


/* CAMADA QUE ANIMA */
.home .bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    /* background-image: url("assets/original_eric.png"); */
    background-image: url("assets/original_eric-Photoroom.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transform: scale(1);
    transform-origin: center;
    will-change: transform;
}

.navigation,
.contain-home-text {
    position: relative;
    z-index: 10;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.navigation div{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 80px;
    font-family: "Sora", sans-serif;
    color: #ffffff;
    font-size: 23px;
    font-weight: 100;
    cursor: pointer;
    
}

.navigation div p:hover {
    color: #ffffff3a;
    transition: 0.5s;
}

.hamburger {
  display: flex;
  flex-direction: column !important;
  gap: 6px;
  width: 42px;
  height: 32px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3000;
}

/* spans empilhados corretamente */
.hamburger span {
  display: none;
  width: 32px;
  height: 4px;
  background: #30423A;
  border-radius: 4px;
  transition: 0.3s ease;
}

/* corrige herança tóxica da .navigation */
.navigation .hamburger {
  flex-direction: column !important;
  gap: 6px !important;
}

/* MENU DESKTOP - NORMAL */
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* OVERLAY do Mobile */
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 1500;
}

.btn-talkUs {
    max-width: 320px;
    height: 57px;
    width: 100%;
    background-color: #F0C460;
    border-radius: 16px;
    color: #30423A;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    padding: 16px 20px;
    border: none;
}

.btn-meet {
    max-width: 320px;
    max-height: 57px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #F0C460;
    border-radius: 16px;
    color: #30423A;
    font-weight: 800;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    border: none;
} 

.btn-talkUs,
.btn-know, 
.btn-meet {
  position: relative;
  overflow: hidden; 
  cursor: pointer;
  transition: background-color 0.3s ease;
} 


.btn-talkUs .ripple,
.btn-meet .ripple,
.btn-know .ripple{
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  width: 20px;
  height: 20px;
  pointer-events: none;
  transform: scale(0);
}

.contain-home-text {
    align-self: flex-start;
    
    padding: 150px 190px;
}

.title {
    width: 600px;
    font-family: 'Shrikhand', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: #668074;
    line-height: 1.2;
    word-break: break;
}

.subtitle {
    width: 580px;
    font-family: 'Shrikhand', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #ffffffb9;
    line-height: 1.35;
    word-break: break;
}



/* background noise na folha toda */
.noise-bg {
  position: relative;
}

.noise-bg::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: url("assets/noise.png"); 
  opacity: 0.15; 
  mix-blend-mode: soft-light;
  z-index: 9999;
}

.social-icon {
  color: #30423A; 
  transition: color 220ms ease, transform 150ms ease;
  display: inline-block;
  vertical-align: middle;
}

.social { 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  text-decoration: none;
}

/* hover states */
.social-whats:hover .social-icon,
.social-whats:focus .social-icon {
  color: #25D366; 
  transform: scale(1.06);
}

.social-insta:hover .social-icon,
.social-insta:focus .social-icon {
  color: #E4405F;
  transform: scale(1.06);
}

.social:focus {
  outline: none;
}
.social:focus .social-icon {
  transform: scale(1.06);
}

/* ============================
   RESPONSIVIDADE GERAL
============================ */

/* telas plus size */

@media (max-width: 2560px) {
  .contain-home-text {
    padding: 220px 270px;
  }

  .title {
    width: 900px;
    font-size: 112px;
  }

  .subtitle {
    font-size: 42px;
  }

  .btn-meet {
    font-size: 20px;
  }
}

@media (max-width: 1920px) {
  .contain-home-text {
    padding: 120px 170px;
  }
}

@media (max-width: 1883px) {
  .contain-home-text {
    padding: 100px 170px;
  }
}

/* telas muito grandes */
@media (max-width: 1600px) {
  .contain-home-text {
    padding: 120px 140px;
  }

  .title {
    font-size: 82px;
  }

  .subtitle {
    font-size: 30px;
  }
}

@media (max-width: 1440px) {
  .navigation img {
    margin-left: 50px;
  }
  
  .title {
    width: 600px;
  }
}

/* laptops médios */
@media (max-width: 1280px) {
  /* home */
  .navigation div {
    gap: 40px;
    font-size: 20px;
  }

  .contain-home-text {
    padding: 100px 80px;
  }

  .title {
    width: 500px;
    font-size: 72px;
  }

  .subtitle {
    font-size: 28px;
    width: 450px;
  }
}

/* tablets */
@media (max-width: 900px) {
  .navigation {
    justify-content: space-between;
    padding: 20px 40px;
  }

  .navigation div {
    gap: 30px;
    font-size: 19px;
  }

  .btn-talkUs {
    max-width: 240px;
  }

  .contain-home-text {
    padding: 180px 50px;
  }

  .title {
    font-size: 64px;
  }

  .subtitle {
    font-size: 28px;
  }
}

/* mobile grande */
@media (max-width: 770px) {
  .home {
    height: 100vh;
    padding-bottom: 80px;
  }

  .navigation {
    padding: 20px 20px;
  }

  .navigation div {
    gap: 20px;
    font-size: 18px;
  }

  .contain-home-text {
    padding: 120px 30px;
    /* align-self: center;
    text-align: center; */
  }

  .title {
    font-size: 48px;
    width: 350px;
  }

  .subtitle {
    font-size: 22px;
    width: 350px;
  }

  .btn-talkUs {
    height: 37px;
    padding: 8px 10px; 
  }
  
  .btn-meet {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .contain-home-text {
    padding: 220px 70px;
  }
}

/* mobile pequeno */
@media (max-width: 480px) {
    /* .home .bg {
        background-image: url("assets/original-800.png");
    } */
   /* esconde tudo exceto menu móvel e hamburger */
  .navigation > div:not(.hamburger):not(.menu) {
    display: none !important;
  }

  .hamburger span{
    display: block;
  }

  .contain-home-text {
    z-index: 1;
  }

  /* layout do menu mobile */
  .menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background: #061513;
    padding: 80px 20px;
    display: flex;
    flex-direction: column !important;
    gap: 40px;
    transition: 0.35s ease;
    z-index: 60;
  }

  .menu.active {
    right: 0;
  }

  /* texto do menu mobile */
  .menu p,
  .menu button {
    color: #fff;
    font-size: 22px;
  }

  .menu button {
    border-radius: 8px;
    padding: 4px 16px;
    color:#30423A
  }

  /* animação do X */
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    z-index: 4000;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* ajustes visuais opcionais */
  .navigation {
    justify-content: space-between;
    padding: 20px;
  }
}

@media (max-width: 425px) {
    .contain-home-text {
      padding: 120px 30px;
    }

    .navigation img {
      margin-left: 10px;
    }
}


/* mini devices (iphone antigo) */
@media (max-width: 390px) {
  .home .bg {
    background-position: top 80%;
  }
  .title {
    width: 250px;
    font-size: 34px;
  }

  .subtitle {
    width: 260px;
    font-size: 18px;
  }

  .btn-meet {
    width: 350px;
    height: 48px;
  }

  .navigation div {
    gap: 10px;
    font-size: 14px;
  }

}

@media (max-width: 375px) {
  .home .bg {
    background-position-x: 60%;
  }

  .contain-home-text {
     padding: 450px 30px;
  }

}


